<form [formGroup]="form" (ngSubmit)="changePassword()">
    <div class="form-group">
        <label for="oldPassword" class="control-label">Old Password:</label>
        <input type="password" id="oldPassword" class="form-control" formControlName="oldPassword">
        <div *ngIf="form.controls.oldPassword.errors 
                && form.controls.oldPassword.touched">
            <div class="alert alert-danger" [hidden]="!form.controls.oldPassword.errors.required">
                Old password is required.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword" class="control-label">New Password:</label>
        <input type="password" class="form-control" id="newPassword" formControlName="newPassword">
        <div *ngIf="form.controls.newPassword.errors 
                && form.controls.newPassword.touched">
            <div class="alert alert-danger" [hidden]="!form.controls.newPassword.errors.required">
                New password is required.
            </div>
            <div class="alert alert-danger" [hidden]="!form.controls.newPassword.errors.minlength">
                New password should be minimum 5 characters.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="repeatPassword" class="control-label">Confirm Password:</label>
        <input type="password" class="form-control" id="repeatPassword" formControlName="repeatPassword">
        <div *ngIf="form.controls.repeatPassword.errors 
                && form.controls.repeatPassword.touched">
            <div class="alert alert-danger" [hidden]="!form.controls.repeatPassword.errors.required">
                Confirm the password.
            </div>
        </div>

        <div class="alert alert-danger" [hidden]="!form.errors?.NotMatch">
            Confirm the password.
        </div>

    </div>
    <button class="btn-primary" type="submit" [disabled]="!form.valid">Change my password</button>
    <br/> errors:{{form.errors | json}}
    <br/> passwordNotMatch: {{form.errors?.passwordNotMatch |json }}

</form>